/* ================================= 
  Base Styles
==================================== */

.container {
  display: flex;
  justify-content: center;
}

.images_1 {
  width: 50vh;
  max-width: 100%;
  height: auto;
  padding-right: 10px;
}

.images_2 {
  width: 44.1vh;
  max-width: 100%;
  height: auto;
  padding-right: 10px;
}

.images_3 {
  width: 37.6vh;
  max-width: 100%;
  height: auto;
  padding-right: 10px;
}

.images {
  text-align: center;
  border:1px solid;
}

.chernobyl {
  float: left;
  width: 70vh;
  padding-right: 15px;
}

.disney {
  float: left;
  width: 60vh;
  padding-right: 15px;
}

.main-header,
.placestitle,
.future,
.warning {
  padding: 5px;
  font-size: 50px;
  text-align: center;
  background-color: black;
}

.main-header {
  color: purple;
}

.placestitle {
  color: deeppink;
}

.future {
  color: aqua;
}

.bucketlist {
  color: crimson;
  text-align: center;
  font-size: 35px;
}

.warning {
  color: red;
}
  
.info {
  font-size: 18px;
  padding-left: 15px;
  padding-right: 15px;
}

.link {
  text-align: center;
  padding: 10px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

h3 {
  font-size: 40px;
  color: mediumvioletred;
  padding: 5px;
}

.PText {
  color: black;
  font-weight: bold;
}

.HText {
  font-weight: bold;
}

.H2Text {
  color: blue;
  font-weight: bold;
}

.rotateimg {
  transform: rotate(90deg);
}

.rotateimg1 {
  transform: rotate(270deg);
}

.description {
  padding-left: 15px;
  padding-right: 15px;
}


/* ================================= 
  Sticky Footer
==================================== */

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background: #333;
  font-size: 20px;
  color: white;
  text-align: center;
  line-height: 25px;
  padding: 5px;
  clear: both;
}

.info,
.link {
  min-height: 100%;
  margin-bottom: -40px;
}

.info::after,
.link::after,
.sticky::after {
  content: "";
  display: block;
}

footer, 
.info::after,
.link::after {
  height: 40px;
}



/* ================================= 
  Media Queries
==================================== */

@media (max-width: 650px) {
  .future {
    font-size: 35px;
  }

  .bucketlist {
    font-size: 25px;
  }

  .chernobyl {
    float: left;
    width: 45vh;
    padding-right: 15px;
  }

  .disney {
    float: left;
    width: 45vh;
    padding-right: 15px;
  }
}

@media (min-width: 1071px) {
  .title {
    font-size: 25px;
  }

  /* Index styles */
  .container {
    display: flex;
    justify-content: space-between;
  }

  .images_1 {
    width: 60vh;
    max-width: 100%;
    height: auto;
  }
  
  .images_2 {
    width: 52.85vh;
    max-width: 100%;
    height: auto;
  }
  
  .images_3 {
    width: 45.1vh;
    max-width: 100%;
    height: auto;
  }
  
  .images {
    text-align: center;
    border:1px solid;
  }
  
  .main-header {
    padding: 5px;
    color: purple;
    font-size: 60px;
    text-align: center;
  }

  .info {
    font-size: 23px;
    padding-left: 65px;
    padding-right: 65px;
  }

  /* Future Destination styling */
  .chernobyl {
    float: left;
    width: 100vh;
    padding-right: 15px;
  }

  .future {
    font-size: 60px;
  }
  
  .bucketlist {
    color: crimson;
    text-align: center;
    font-size: 45px;
  }

  .disney {
    float: left;
    width: 90vh;
    padding-right: 15px;
  }
}








/* ================================= 
  Clearfix
==================================== */

.clearfix {
    overflow: auto;
}