/* ================================= 
  Base Styles
==================================== */
.title {
  font-size: 18px;
}

.container {
  display: flex;
  justify-content: center;
}

.images_1 {
  width: 50vh;
  max-width: 100%;
  height: auto;
  padding-right: 10px;
}

.images_2 {
  width: 44.1vh;
  max-width: 100%;
  height: auto;
  padding-right: 10px;
}

.images_3 {
  width: 37.6vh;
  max-width: 100%;
  height: auto;
  padding-right: 10px;
}

.images {
  text-align: center;
  border:1px solid;
}

.chernobyl {
  float: left;
  width: 75vh;
  padding-right: 15px;
}

.disney {
  float: left;
  width: 55vh;
  padding-right: 15px;
}

.main-header,
.placestitle,
.future,
.warning {
  padding: 5px;
  font-size: 50px;
  text-align: center;
  background-color: black;
}

.main-header {
  color: purple;
}

.placestitle {
  color: deeppink;
}

.future {
  color: aqua;
  font-size: 45px;
}

.bucketlist {
  color: crimson;
  text-align: center;
  font-size: 35px;
}

.warning {
  color: red;
  text-transform: uppercase;
}

.never {
  color: red;
  text-align: center;
  text-transform: uppercase;
  text-decoration: underline;
  text-decoration-color: black;
}

.warningTitle {
  font-size: 28px;
  padding-top: 15px;
  color: tomato;
  font-weight: bold;
}

.hazards {
  padding-left: 25px;
  font-weight: bold;
}

.gear {
  padding-left: 25px;
  font-weight: bold;
}
  
.info {
  font-size: 18px;
  padding-left: 15px;
  padding-right: 15px;
}

.link {
  text-align: center;
  padding: 10px;
  font-size: 20px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

h3 {
  font-size: 40px;
  color: mediumvioletred;
  padding: 5px;
}

.PText {
  color: black;
  font-weight: bold;
}

.HText {
  font-weight: bold;
  font-size: 20px;
}

.H2Text {
  color: blue;
  font-weight: bold;
}

.text {
  color: black;
  font-weight: bold;
  font-size: 32px;
}

.rotateimg {
  transform: rotate(90deg);
}

.rotateimg1 {
  transform: rotate(270deg);
}

.description {
  padding-left: 15px;
  padding-right: 15px;
}

.description2 {
  padding: 15px 25px;
  font-size: 18px;
}

.warnwrapper {
  padding: 15px 25px;
  font-size: 18px;
}


/* ================================= 
  Sticky Footer
==================================== */

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background: #333;
  font-size: 20px;
  color: white;
  text-align: center;
  line-height: 25px;
  padding: 5px;
  clear: both;
}

.info,
.link,
.description,
.description2 {
  min-height: 100%;
  margin-bottom: -40px;
}

.info::after,
.link::after,
.sticky::after,
.description::after,
.description2::after {
  content: "";
  display: block;
}

footer, 
.info::after,
.link::after,
.disney::after,
.description::after,
.description2::after {
  height: 40px;
}



/* ================================= 
  Media Queries
==================================== */

@media (min-width: 1071px) {
  .title {
    font-size: 30px;
  }

  /* Index styles */
  .container {
    display: flex;
    justify-content: space-between;
  }

  .images_1 {
    width: 90vh;
    max-width: 100%;
    height: auto;
  }
  
  .images_2 {
    width: 79.68vh;
    max-width: 100%;
    height: auto;
  }
  
  .images_3 {
    width: 67.63vh;
    max-width: 100%;
    height: auto;
  }
  
  .images {
    text-align: center;
    border:1px solid;
  }
  
  .main-header {
    padding: 5px;
    color: purple;
    font-size: 60px;
    text-align: center;
  }

  .info {
    font-size: 23px;
    padding-left: 65px;
    padding-right: 65px;
  }

  .link {
    text-align: center;
    padding: 10px;
    font-size: 23px;
  }

  /* Future Destination styling */
  .chernobyl {
    float: left;
    width: 100vh;
    padding-right: 15px;
  }

  .future {
    font-size: 60px;
  }
  
  .bucketlist {
    color: crimson;
    text-align: center;
    font-size: 45px;
  }

  .disney {
    float: left;
    width: 70vh;
    padding-right: 15px;
  }

  .description2 {
    font-size: 25px;
  }
}








/* ================================= 
  Clearfix
==================================== */

.clearfix {
    overflow: auto;
}