/* ================================= 
  Base Styles
==================================== */


.title {
  font-size: 25px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.container {
  display: flex;
  justify-content: center;
}

.images_1 {
  width: 50vh;
  max-width: 100%;
  height: auto;
  padding-right: 10px;
}

.images_2 {
  width: 44.1vh;
  max-width: 100%;
  height: auto;
  padding-right: 10px;
}

.images_3 {
  width: 37.6vh;
  max-width: 100%;
  height: auto;
  padding-right: 10px;
}

.images {
  text-align: center;
  border:1px solid;
}

.chernobyl {
  float: left;
  width: 55%;
  padding-right: 15px;
}

.disney {
  float: left;
  width: 55%;
  padding-right: 15px;
}

.main-header,
.placestitle,
.future,
.warning {
  padding: 5px;
  font-size: 50px;
  text-align: center;
  background-color: black;
}

.main-header {
  color: purple;
}

.placestitle {
  color: deeppink;
}

.future {
  color: aqua;
  font-size: 45px;
}

.bucketlist {
  color: crimson;
  text-align: center;
  font-size: 40px;
}

.warning {
  color: red;
  text-transform: uppercase;
}

.never {
  color: red;
  text-align: center;
  text-transform: uppercase;
  text-decoration: underline;
  text-decoration-color: black;
}

.warningTitle {
  font-size: 28px;
  padding-top: 15px;
  color: tomato;
  font-weight: bold;
}

.hazards {
  padding-left: 25px;
  font-weight: bold;
}

.gear {
  padding-left: 28px;
  font-weight: bold;
}
  
.info {
  font-size: 25px;
  padding-left: 15px;
  padding-right: 15px;
}

.link {
  text-align: center;
  padding: 10px;
  font-size: 20px;
}

h3 {
  font-size: 40px;
  color: mediumvioletred;
  padding: 5px;
}

.PText {
  color: black;
  font-weight: bold;
}

.HText {
  font-weight: bold;
}

.H2Text {
  color: blue;
  font-weight: bold;
}

.text {
  color: black;
  font-weight: bold;
  font-size: 32px;
}

.rotateimg {
  transform: rotate(90deg);
}

.rotateimg1 {
  transform: rotate(270deg);
}

.description {
  padding-left: 15px;
  padding-right: 15px;
  font-size: 28px;
  padding-bottom: 15px;
}

.description2 {
  padding: 15px 25px;
  font-size: 18px;
}

.warnwrapper {
  padding: 15px 25px;
  font-size: 18px;
}




/* ================================= 
  Main Sticky Footer
==================================== */

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background: #333;
  font-size: 30px;
  color: white;
  text-align: center;
  line-height: 25px;
  padding: 5px;
  clear: both;
}

.link,
.description,
.description2 {
  min-height: 100%;
  margin-bottom: -40px;
}

.link::after,
.sticky::after,
.description::after,
.description2::after {
  content: "";
  display: block;
}

footer, 
.link::after,
.disney::after,
.description::after,
.description2::after {
  height: 40px;
}

.carousel {
  margin-bottom: 80px;
}

/* ================================= 
  Carousel Footer
==================================== */

html {
  position: relative;
}

.fixFoot {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: #333;
  display: block;
  margin: 0;
  padding: 10px;
  padding-top: 20px;
  padding-bottom: 30px;
  font-size: 35px;
  color: white;
  text-align: center;
  line-height: 0px;
  clear: both;
}


/* ================================= 
  Media Queries
==================================== */

/* Smartphones - potrait & landscape */
@media only screen and (min-device-width: 100px) and (max-device-width: 480px) {
  .images_1,
  .images_3 {
    display: none;
  }

  .container {
    width: 650px;
    height: 300px;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 15px;
    transition: height 0.3s;
  }

  .container img {
    max-width: initial;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }

  .title {
    font-size: 40px;
  }

  .info, 
  .link {
    font-size: 34px;
  }

  .rose_div,
  .INAAP_div,
  .witches_div {
    display: none;
    overflow: hidden;
  }

  .entrance {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 750px;
    height: 400px;
    border-radius: 10px;
  }

  .bunker {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 750px;
    height: 400px;
    border-radius: 15px;
  }

  .fireplace {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 350px;
    height: 500px;
    border-radius: 25px;
  }

  .entrance,
  .bunker,
  .fireplace {
    padding-bottom: 50px;
  }

  .description {
    padding-left: 15px;
    padding-right: 15px;
    font-size: 34px;
    padding-bottom: 15px;
  }

  .hide {
    display: none;
    overflow: hidden;
  }

  .description2,
  .warnwrapper {
    font-size: 25px;
  }

  .warningTitle {
    font-size: 32px;
  }

  .H2Text,
  .HText,
  .PText {
    font-size: 30px;
  }

  .fixFoot {
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 45px;
  }

  .carousel {
    margin-bottom: 90px;
  }
  
  footer {
    font-size: 45px;
    padding-bottom: 60px;
    padding-top: 5px;
    line-height: 45px;
  }
}


@media only screen and (min-device-width: 481px) and (max-device-width: 2000px) {
  .rose_div2,
  .INAAP_div2,
  .witches_div2 {
    display: none;
    overflow: hidden;
  }}


@media screen and (min-width: 1071px) {
  .title {
    font-size: 30px;
  }

  /* Index styles */
  .container {
    display: flex;
    justify-content: space-between;
  }

  .images_1 {
    width: 90vh;
    max-width: 100%;
    height: auto;
  }
  
  .images_2 {
    width: 79.68vh;
    max-width: 100%;
    height: auto;
  }
  
  .images_3 {
    width: 67.63vh;
    max-width: 100%;
    height: auto;
  }
  
  .images {
    text-align: center;
    border:1px solid;
  }
  
  .main-header {
    padding: 5px;
    color: purple;
    font-size: 60px;
    text-align: center;
  }

  .info {
    font-size: 23px;
    padding-left: 65px;
    padding-right: 65px;
  }

  .link {
    text-align: center;
    padding: 10px;
    font-size: 23px;
  }

  /* Future Destination styling */
  .chernobyl {
    float: left;
    padding-right: 15px;
  }

  .future {
    font-size: 60px;
  }
  
  .bucketlist {
    color: crimson;
    text-align: center;
    font-size: 45px;
  }

  .disney {
    float: left;
    width: 70vh;
    padding-right: 15px;
  }

  .description2 {
    font-size: 25px;
  }

  .rose_div2,
  .INAAP_div2,
  .witches_div2 {
    display: none;
    overflow: hidden;
  }
}






